html {
    font-family: 'Noto Sans JP', sans-serif;
}

#reader {
    border: 1px solid black;
    font-size: 2em;
}

#center {
    color: red;
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    background-image: url(../images/ron_swanson_wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}