@font-face {
    font-family: Roboto Mono;
    src: url(fonts/RobotoMono-VariableFont_wght.ttf);
}
html {
    font-family: Roboto Mono;
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    background-image: url(../images/ron_swanson_wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#reader {
    white-space: pre;
    border: 1px solid black;
    font-size: 2em;
    width: 800px;
    align-content: center;
}

#center {
    color: red;
}
